<?php
  #########################
  ## SECRETS sample file ##
  #########################
  
  ## General Settings
  $SECRET_wgServer = "//localhost";
  $SECRET_wgScriptPath = "/wiki";
  $SECRET_wgLogo = "/resources/assets/anywiki.png";

  ## Database settings
#  $SECRET_wgDBtype           = "mysql";
#  $SECRET_wgDBserver         = "localhost";
  $SECRET_wgDBname           = "fuerthwiki"; 
#  $SECRET_wgDBuser           = "benutzer"; 
#  $SECRET_wgDBpassword       = "supergeheimespasswort"; 

  $SECRET_wgDBservers = [
    [
        'host' => "localhost",
        'dbname' => "datenbank",
        'user' => "benutzer",
        'password' => "supergeheimespasswort",
        'type' => "mysql",
        'flags' => DBO_DEFAULT,
        'load' => 1,
    ],
#    [
#        'host' => "hel1.fuerthwiki.de",
#        'dbname' => "datenbank",
#        'user' => "benutzer",
#        'password' => "supergeheimespasswort",
#        'type' => "mysql",
#        'flags' => DBO_SSL,
#        'load' => .5,
#        'sslKeyPath' => "./hel1/client-key.pem",
#        'sslCertPath' => "./hel1/client-cert.pem",
#        'sslCAPath' => "./hel1/ca-cert.pem",
#    ],
  ];

  ## MatomoAnalytics settings
  $SECRET_matomoURL = "https://statistik.anywiki.de/";
  $SECRET_matomoToken = "supergeheimertoken";
  $SECRET_matomoSiteID = "1";

  $SECRET_wgSecretKey = "supergeheimerkey";

  # Site upgrade key. Must be set to a string (default provided) to turn on the
  # web installer while LocalSettings.php is in place
  $SECRET_wgUpgradeKey = "supergeheimerupdatekey";
  
  ## The questy answers are secret, too!
  $SECRET_questions = array (
        'Super Frage:' => 'Super Antwort',
        'Dumme Frage:' => 'Dumme Antwort',
);
